.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
  align-items: center;
}
.about__list {
  display: flex;
}
.about__banner {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.about__title {
  margin-bottom: 50px;

  color: var(--color-main);
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}
.about__label {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  color: var(--color-bg-sect);
  background-color: rgba(47, 48, 58, 0.8);
}
