.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__item {
  @media screen and (max-width: 767px) {
    max-width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
}
.clients__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 33px;
  text-align: center;

  color: var(--color-main);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 42px;
  }
}
.clients__link {
  display: flex;

  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;
  background-color: #fff;

  transition: fill 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);

  &:hover,
  &:focus {
    fill: var(--color-accent);
    border-color: var(--color-accent);
  }
}
