footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-bg-alt);
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__tabletOverlay {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  color: #fff;
  margin-bottom: 20px;

  & span {
    color: var(--color-accent);
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.addressMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addressMenu__item:not(:last-child) {
  margin-bottom: 9px;
}
.addressMenu__link {
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 00.03em;
  transition: color 250ms var(--animation-cubic);

  &--grey {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}
.footer__media {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.social .icons {
  display: flex;
}
.social .icon {
  width: 20px;
  height: 20px;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}
.socials__link--grey {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social a:hover,
.social a:focus {
  background-color: var(--color-accent);
  fill: #ffffff;
}
.subForm {
  width: 100%;
  max-width: 450px;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: unset;
    max-width: unset;
  }
}
.subForm__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.subForm__button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #ffffff;

  padding: 10px 32px;
  background-color: var(--color-accent);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--animation-cubic), filter 250ms var(--animation-cubic);

  &:hover,
  &:focus,
  &:active {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.subForm__icon {
  width: 24px;
  height: 24px;
  fill: #f5f4fa;

  margin-left: 10px;
}

.subForm input {
  width: 100%;

  height: 50px;
  padding: 15px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-bg-alt);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    background-color: #41424f;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}
