.team {
  background-color: var(--color-bg-sect);
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
  }
}
.team__title {
  margin-bottom: 30px;

  text-align: center;
  font-size: 28px;
  line-height: 33px;

  color: var(--color-main);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 42px;
  }
}

.team__list {
  // display: flex;
  width: 100%;
  gap: 30px;
  max-width: 450px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;

    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.team__card {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 24px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: calc(50% - 15px);
  }
}
.team__img {
  width: 100%;
  @media screen and (min-width: 1600px) {
    width: 370px;
  }
}
.team__text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
}
.member__name {
  margin-bottom: 10px;

  color: var(--color-main);
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.member__role {
  font-size: 16px;
  line-height: 19px;
}
.socials {
  display: flex;
  justify-content: center;
}

.socials__icon {
  width: 20px;
  height: 20px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #afb1b8;
  background-color: #ffffff;

  transition: fill 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
    fill: #ffffff;
  }
}
